.App {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.list {
  width: 35%;
  padding: 20px;
  border-right: 2px solid #ccc;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
}



.post {
cursor: pointer
}

.display {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

